* {
   box-sizing: border-box;
   font-size: 1.5rem;
}

body {
   font-family: system-ui, sans-serif;
   /* padding: 2rem; */
   margin: 0;
   background-color: #234;
   /* overflow: hidden; */
   padding-top: env(safe-area-inset-top);
   padding-bottom: env(safe-area-inset-bottom);
   height: 80vh;
   width: 100vw;
   overflow: hidden;
}

#wayBar {
   background-color: #012;
   color: #789;
   height: 1.5rem;
}

#app {
   border: 2px solid pink;
   height: 96vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

#bottom {
   /* position: fixed; */
   /*    bottom: 0; */
   /*    left: 0; */
   /* width: 100vw; */
}

#content {
   border: 2px solid pink;
}

.input-row {
   display: flex;
   /* border: 2px solid black; */
   gap: 0.5rem;
   padding: 0.75rem;
}

/* input { */
/*   padding: 0.5rem; */
/*   font-size: 1rem; */
/*   width: 250px; */
/* } */

#msgHist {
   display: flex;
   flex-grow: 1;
   padding: 0.5rem;
   font-size: 1rem;
   flex-direction: column-reverse;
   gap: 1rem;
   overflow: hidden;
}

.msgIn {
   display: flex;
   justify-content: right;
}

.msgOut {
   display: flex;
   justify-content: left;
}

.in {
   display: flex;
   justify-content: right;
   justify-self: right;
   font-size: 22pt;
   padding: 0.5rem;
   background-color: #456;
   border: 2px solid #456;
   border-radius: 15px 3px 15px 15px;
}

.out {
   display: flex;
   font-size: 22pt;
   padding: 0.5rem;
   background-color: #123;
   border: 2px solid #123;
   border-radius: 15px 15px 15px 3px;
}

#msgText {
   flex-grow: 1;
   padding: 0.5rem;
   font-size: 1rem;
   /* width: 250px; */
}

#msgBox {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
}
/* button { */
/*   padding: 0.5rem 1rem; */
/*   font-size: 1rem; */
/*   cursor: pointer; */
/* } */

#navButtons {
   display: flex;
   justify-content: space-between;
}

#content {
   display: flex;
   flex-grow: 1;
   /* border: 2px solid white; */
   padding: 1rem;
}

.navBtn {
   display: flex;
   flex-grow: 1;
   justify-content: center;
   align-items: center;
   /* border: 2px solid green; */
   width: 10rem;
   height: 4rem;
}
